.top-banner {
	background: black;
	color: white;
	text-align: center;
	font-size: 120%;
	padding: 0.5em 0;
	cursor: pointer;
	text-decoration: underline;
	font-family: monospace;
}
.minimalpair-iframe {
	display: none;
}
#minimalpair {
	font-family: monospace;
	position: absolute;
	background: #000;
	z-index: 99999;
	color: white;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#minimalpair button {
	color: white;
	border: solid 2px white;
	background: none;
	font-family: inherit;
	padding: 0.5em 1em;
	border-radius: 3px;
	font-weight: bold;
	line-height: 1em;
}
#minimalpair div {
	min-width: 400px;
	margin: 0 auto;
}

.minimalpair__topbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 0;
}

.minimalpair__topbar h1 {
	font-size: 120%;
	background: linear-gradient(to bottom right, #40e0d0, #f1be44, #ff0080);
	padding: 0.5em 1em;
	font-weight: bold;
	color: black;
}

.minimalpair__topbar button {
	padding: 0.2em 0.4em;
}

#closeMinimalPairApp {
	margin-left: auto;
}
.minimalpair__header {
	padding: 2em 0;
}
.minimalpair__header div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.minimalpair__header h2 {
	padding: 1em 0;
}

.minimalpair__words {
	padding: 2em 0;
}
.minimalpair__words ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1em;
	padding: 0;
	list-style: none;
}

.minimalpair__words ul li {
	padding: 2rem;
	border: 2px solid white;
	background: white;
	color: black;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.minimalpair__words ul li.active,
.minimalpair__words ul li:hover {
	box-shadow: aliceblue 4px 4px;
	background: black;
	color: white;
}

#result {
	padding: 1em 0;
}

.hidden {
	display: none;
}

textarea {
	color: black;
	margin: 1em 0;
	width: 100%;
	min-height: 150px !important;
}

.custom-words {
	padding: 1.3em 0;
}
